
table {
	width: 600px;
}

td {
	text-align: center;
}

.contact {
	background-color: black;
	color:  white;
	height: 75px;
	font-size: 3em;
}
/* 
td:nth-child(3) {
	background-color: black;
	color:  white;
} */