html {
	height:98%;
}

body {
	height:100%;
}

table {
	width:100%; height:100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td:nth-child(odd){
	width:50%;
	background-color: olive;
}

td:nth-child(even){
	width:50%;
	background-color: darksalmon;
}
